<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	</head>
	<body>

	<div id="app">
		<lesson v-for="l in lessons"
				:kc_options=l.kc_options
				@next_question=handleNext
				>
					
		</lesson>
	</div>
	<div class="padding">

	</div>

	<script>
	const { createApp, ref } = Vue

	app = createApp({
	  	data(){
	  		return{
	  			lessons:[]
	  		}
	  	},

	  	methods: {
	  		async getFirstLessons(){
				const res = await fetch("http://127.0.0.1:5000/get_recs");
				const finalRes = await res.json();
				this.lessons = [{kc_options:finalRes}]
	  		},
	  		async handleNext(){
	  			
	  			const res = await fetch("http://127.0.0.1:5000/get_recs");
				const finalRes = await res.json();

				this.lessons.push({kc_options:finalRes})

	  		}
	  	},
	  	mounted(){
	  		this.getFirstLessons()
	  	}

	})

	app.component("lesson", {
	  	props:['kc_options'],
	  	template:`
		  	<div class="lesson" ref='lesson'>
				<div class="comfortaa lesson_header">
					Select a lesson
				</div>
				<KC v-for="k in kc_options "
						:title=k.title
						:id=k.id
						:kc=k
						:is_active=true
					@selected='handleKcSelected'
				>
				</KC>
				<InnerLoop v-if="selected"
						 :kc=selected_kc
						 @next_question="handleNext">> 
				</InnerLoop>
			</div>`,
		mounted(){
			this.scrollTo()
		},
		data(){
			return{
				selected:false,
				selected_kc:"",
			}
		},
		methods:{
			handleKcSelected(kc){
				if(!this.selected){
					this.selected_kc = kc
					this.selected = true
				}
				for(kc of this.kc_options){
					kc["is_active"] = false
				}
			},
			handleNext(){
				this.$emit("next_question")
			},
			scrollTo() {
		      this.$refs.lesson.scrollIntoView({ behavior: 'smooth', block: 'start', inline:'nearest' });
		    }
		}
	})

	///UNDER CONSTRUCTION I GUESS
	app.component("LearningObjective",{
		props:["title", "active", "ok", "header"],
		template:`<span class="material-symbols-outlined lo_icon" :class='{icon_ok: ok, icon_active: active, icon_header: header}'> {{ symbol }}</span>`,
		methods:{
			symbol_name(){
				switch(this.title){

					case "Knowledge":
						return "emoji_objects"
					case "Understand":
						return "search_check"
					case "Apply":
						return "architecture"
					case "Analyze":
						return "psychology"
				}
			},
		},
		data(){
			return {
				symbol:this.symbol_name()
			}
		}
	})

	app.component("KC", {
	  	props:["title", "id", "is_active", "kc"],
	  	template:`<div class="task_hero" :style="{ 'background-color': bg }" @click="select">
			<div class="icon_column">
				<LearningObjective 
					 v-for="(objective, objective_title) in this.kc.learning_objectives"
					:title=objective.title
					:active=objective.active
					:ok=objective.ok
				>
			</div>
			<div class="kc_title comfortaa">
				 {{ title }}
			</div>
		</div>`,
		data(){
			return{
				is_active:true,
				was_chosen: false,
				bg: ""
			}
		},
		methods:{
			getBg(){
				if(this.was_chosen || this.is_active){
					return hash_to_bg(this.id)
				}
				else{
					return "#DF1203"
				}
			},
			select(){
				this.was_chosen = true
				this.$emit('selected', this.kc)
			},
			postSelect(){
				this.is_active = false
				this.bg = this.getBg()
			}
		},
		mounted(){
			this.bg = this.getBg() 
		}
	})

	app.component("InnerLoop",{
	  	props:["kc"],
	  	template:`
	  	<div class="inner_loop" ref="inner_loop">
		  	<div class="question_title comfortaa" :style="{ 'background-color': bg }" > 
		  		<LearningObjective 
		  			:title=activeLo.title
		  			:active=true
		  			:header=true
		  		>
		  		</LearningObjective>
				{{ activeLo.title }}: {{ kc.title }}
				
			</div>
			<div class="task_container">
				<Interaction v-for="i in interactions"
					:kc_id=i.kc_id
					:type=i.type
					:student_text=i.student_text
					:i=i.i
					@submitted='handleSubmitted'
					@next_question="handleNext"
					@ask_for_answer="handleAsk">
				</Interaction>
			</div>
		</div>
	  	`,
	  	mounted(){
	  		this.bg = hash_to_bg(this.kc.id)
	  		this.scrollTo()
	  	
	  	},
	  	data(){
			return{
				bg: "",
				interactions:[{type:"question", kc_id:this.kc.id, student_text:"", i:0}],
				i:0,
				activeLo:this.getActiveLo()
			}
		},
		methods:{
			handleSubmitted(response){
				this.i++
				this.interactions.push({type:"feedback", kc_id:this.kc.id, student_text:response, i:this.i})
			},
			handleNext(){
				this.$emit("next_question")
			},
			handleAsk(){
				this.i++
				this.interactions.push({type:"answer", kc_id:this.kc.id, student_text:"", i:this.i})
			},
			scrollTo() {
		      this.$refs.inner_loop.scrollIntoView({ behavior: 'smooth', block: 'start', inline:'nearest' })
		    },
		    getActiveLo(){
		    	for(lo of this.kc.learning_objectives){
		    		if(lo.active){
		    			return lo
		    		}
		    	}
			},
		}
	})

	
	app.component("Interaction", {
	 	props:['type', 'kc_id', 'student_text', "i"],
	 	template:`
	 	<div class="question kode-mono-llm"  ref="question">
	 		<div v-if="loading">
	 			<span class="loader"></span>
	 		</div>

	 		<span v-if="sentiment" class="material-symbols-outlined" :style="{'color': status_color}">  {{ sentiment}} </span>
			{{ tutor_text }}	
		</div>
		
		<div v-if="student_ready" class="answer crimson-text-regular">
			<span v-if="active">

				<textarea class="answer_area crimson-text-regular" 
						placeholder="Answer:"
						v-model="student_response"  
						v-on:keyup.enter="onEnter"> 
				</textarea>
				 
				<div class="interaction "> 
					<button v-if="offer_hint" @click="answer" :class="{inactive : !active}"> See Answer </button> 
					<button @click="submit"> Submit </button> 
				</div>

			</span>
			<span v-else>
				<div class="answer_area crimson-text-regular">  "{{ student_response}}" </div>
			</span>
		</div>

		<div v-if="correct" class="answer comfortaa">
			<div class="interaction"> 
				<button @click="next" :class="{inactive : !active}"> Next Question </button> 
			</div>
		</div>
	 	`,
	 	methods:{
	 		async getQuestion(){
	  			this.feedback = false
	  			this.get_sentiment()
	  			const res = await fetch("http://127.0.0.1:5000/choose_kc", {method:"POST", body:this.kc_id})
				const finalRes = await res.json()
				this.loading = false

				for(letter of finalRes["question"]){
					await delay(20)
					this.tutor_text += letter
				}

				await delay(50)
				this.student_ready = true
	  		},

	  		async getFeedback(){
	  			this.feedback = true
	  			
	  			res = await(fetch("http://127.0.0.1:5000/student_response", {method:"POST", body:this.student_text}))
				finalRes = await res.json()
				this.loading = false

				this.get_sentiment(finalRes["grade"])
				for(letter of finalRes["comment"]){
					await delay(20)
					this.tutor_text += letter
				}

				await delay(50)
				
				if(this.i >= 2){
					this.offer_hint = true
				}
				
				switch(finalRes["grade"]){
					case "Correct":
						this.correct = true
						this.student_ready = false
						break

					case "Almost":
						this.student_ready = true
						break

					case "Incorrect":
						this.student_ready = true
						break

				}	
				this.scrollTo()
	  		},
	  		async getAnswer(){
	  			this.feedback = true
	  			this.get_sentiment()
	  			res = await(fetch("http://127.0.0.1:5000/reference_answer"))
	  			finalRes = await res.json()
	  			this.loading = false

	  			output = "The reference answer generated was: "+finalRes["reference_answer"]
	  			for(letter of output){
					await delay(20)
					this.tutor_text += letter
				}
				this.correct = true
				this.offer_hint = false


	  		},
	  		onEnter(){
	  			if( this.active ){
	  				this.submit()
	  			}
	  		},
	  		submit(){
	  			this.student_text = this.student_response
	  			this.$emit("submitted", this.student_response)
	  			this.active = false
	  		},
	  		answer(){
	  			this.student_response = "Student asked for answer:"
	  			this.active = false
	  			this.$emit("ask_for_answer")
	  		},
	  		next(){
	  			if(this.active){
	  				this.$emit("next_question")
	  				this.active = false
	  			}
	  		},
	  		get_sentiment(grade){
	  			switch(this.type){
	  				case "feedback":
			  			switch(grade){
			  				case "Correct":
			  					this.sentiment = "sentiment_excited"
			  					this.status_color = "green"
			  					break;
			  				case "Almost":
			  					this.sentiment = "sentiment_satisfied"
			  					this.status_color = "orange"
			  					break;
			  				case "Incorrect":
			  					this.sentiment = "sentiment_neutral"
			  					break;
		  				}
		  				break;
		  			case "question":
		  				this.sentiment = "contact_support"
		  				break;

		  			case "answer":
		  				this.sentiment = "person_raised_hand"
		  				break;


	  			}

	  			
	  		},
	  		scrollTo() {
	  		  // This doesn't work as intended so leave it out right now
		      //this.$refs.question.scrollIntoView({ behavior: 'smooth', block: 'end' });
		    }
	 	},
	 	mounted(){
	 		switch(this.type){
	 			case "question":
	 				this.getQuestion()
	 				break;

	 			case "feedback":
	 				this.getFeedback()
	 				break;

	 			case "answer":
	 				this.getAnswer()
	 				break;
	 		}
	 	},
	 	data(){
	 		return{
	 			loading:true,
	 			active:true,
	 			student_ready:false,
	 			submitted:false,
	 			correct:false,
	 			feedback:false,
	 			offer_hint:false,
	 			tutor_text:"",
	 			student_response:""
	 		}
	 	}
	})

	delay = ms => new Promise(res => setTimeout(res, ms));
	hash_to_bg = function(hash){
		switch( parseInt(hash)%3 ){
			case 0:
				return '#7aba99'
			case 1:
				return '#b57f9b'
			case 2:
				return '#7593af'
			}
			return '#fbcb74'
		}

	//components:
	// lesson
	// 	knowledge_component_icon - KC
	// 	inner_loop
	//   interaction
	//     - question
	//     - hint
	//     - end


	app.mount('#app')

	</script>

	</body>
</html>