body {

	background-color:#d1dbe4;
	height:400%;
}

.lesson{
	width:100%;
	min-height:100%;
	text-align: center;
	white-space: nowrap;
	margin-bottom:20em;
}

.task_hero{
	white-space:normal;
	display:inline-block;
	border: 2px solid black;
	border-radius: 3px;
	width:14%;
	margin:20px;
	padding-right:5px;
	box-shadow: 6px 12px 4px #aeaeae;
	height:10em;
	vertical-align: top;
}

.task_hero:hover{
	box-shadow: 12px 12px 4px #aeaeae;
}

.icon_column{
	width: 1em;
	float:left;
	font-size:.75em;
	padding-right:1em;

}

.lo_icon{
	margin:3px;
	border: 1px solid transparent;
	border-radius: 2px;
}



.icon_ok{
	background-color:white;
	color: #169116;
	border: 1px solid white;
	border-radius: 2px;

}

.icon_active{
	color: white;
	border: 1px solid white;
	border-radius: 2px;
}


.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;

}

.lesson_header{
	font-weight: 500;
	font-style: normal;
  	font-size: 2em;
	padding:1em 0;
}

.kc_title{
	font-weight: 500;
	font-style: normal;
	font-size: 1.3em;
	padding:1.5em 0;
	display:block;

}

.green{
	background-color: #7aba99;
}

.pink{
	background-color: #b57f9b;
}

.blue{
	background-color: #7593af;
}


.task1{
	background-color:#92ba92
}
.task2{
	background-color:#738cd7;
}

.task3{
	background-color:#f2adb2;
}

.task4{
	background-color: #b463bb;
}

.icon_header{
	display: inline-block;
	font-size:2em;
	float:left;
}

.question_title{
	width:90%;
	margin:auto;
	margin-top:20px;
	padding:10px;
	border-radius:10px;
	line-height:100%;
	font-size:2em;
	border:1px solid black;
}


.task_container{
	border-left:2px solid black;
	border-right:2px solid black;
	border-radius:2px;
	width:60%;
	margin:auto;
	margin-top:5px;
}

.kode-mono-llm {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}


.question{
	text-align:left;
	white-space:normal;
	padding:10px;
	margin:10px;
	font-size:1.5em;
}

.hint{
	text-indent:50px;
	text-align:left;
	white-space:normal;
	padding:10px;
	margin:10px;
	font-size:1em;
}

.answer{
	text-align:left;
	white-space:normal;
	padding:10px;
	margin:10px;
	background:white;
	border-radius:10px;
	display: flex;
 	flex-direction: column; 
}



.answer_area{
	width:100%;
	margin-bottom:10px;
	
}


.interaction{
	text-align:right;
}

button{
	background-color: #d1dbe4;
}

textarea{
	
	outline:none;
	resize:none;
}
