The student has chosen to recieve a question pertaining to the following term term: {{ term.title }}
The students textbook defines as: {{ term.definition }}
This question will pertain to the content of the following text: {{ term.get_context() }}

In this case, the learning objective is {{ objective }}.
Your question will help the student demonstrate that they {{ objective_description }}